certifi==2020.6.20
chardet==3.0.4
idna==2.10
peewee==3.13.3
psycopg2==2.8.6
pyTelegramBotAPI==3.7.3
python-telegram-bot-pagination==0.0.2
requests==2.24.0
six==1.15.0
urllib3==1.25.11
uuid==1.30

Flask~=1.1.2